civx.xrnozy.me {
  encode gzip

  handle /api/* {
    reverse_proxy localhost:8000
  }

  handle /ws/* {
    reverse_proxy localhost:8000
  }

  handle /health {
    reverse_proxy localhost:8000
  }

  handle {
    header Cross-Origin-Opener-Policy same-origin-allow-popups
    reverse_proxy localhost:5173
  }
}
